.header {
    display: grid;
    grid-auto-columns: auto;
    background-color: rgb(49, 49, 49);
    padding-top: 20px;
    padding-bottom: 10px;
}

.header img {
    margin-left: 200px;
}

#a {
    margin-left: 800px;
    margin-top: -50px;
    color: white;
}

.main img {
    position: absolute;
}

#c img {
    margin-left: 50px;
    margin-left: 250px;
    margin-top: -60;
}

#d img {
    margin-left: 370px;
    margin-top: 80px;
}

#d1 p {
    margin-left: 750px;
    margin-top: 100px;
    position: absolute;
    color: rgb(173, 172, 172);
    font-size: 25;
    font-family: 'Times New Roman', Times, serif;
}

#d1 p:hover {
    color: white;
}

#date {
    font-size: 12;
    margin-left: 1000px;
    margin-top: 150px;
    position: absolute;
    color: rgb(173, 172, 172);
}

#para {
    position: absolute;
    margin-left: 1000px;
    margin-top: 180px;
    color: white;
    font-size: 12;
}

#line {
    position: absolute;
    margin-left: 250px;
    margin-top: 500px;
    color: white;
}

#m p {
    color: lightgray;
    position: absolute;
    font-size: 20;
    margin-top: 580px;
    margin-left: 250px;
}

.more img {
    margin-left: 250px;
    margin-top: 624px;
}

#mm1 {
    position: absolute;
    color: grey;
    font-size: 12;
    margin-top: 800px;
    margin-left: 250px;
}

#mm1:hover {
    color: lightgray;
}

.m1 img {
    margin-left: 500px;
    margin-top: 624px;
}

#m1 {
    position: absolute;
    color: grey;
    font-size: 12;
    margin-top: 800px;
    margin-left: 500px;
}

#m1:hover {
    color: lightgray;
}

.m2 img {
    margin-left: 750px;
    margin-top: 624px;
}

#m2 {
    position: absolute;
    color: grey;
    font-size: 12;
    margin-top: 800px;
    margin-left: 750px;
}

#m2:hover {
    color: lightgray;
}

.m3 img {
    margin-left: 1000px;
    margin-top: 624px;
}

#mmm3 {
    position: absolute;
    color: grey;
    font-size: 12;
    margin-top: 800px;
    margin-left: 1000px;
}

#mmm3:hover {
    color: lightgray;
}

.footer {
    position: absolute;
    display: grid;
    grid-auto-columns: auto;
    background-color: rgb(49, 49, 49);
    padding-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    margin-top: 950;
    margin-left: 0px;
    width: 1333px;
}

.footer p {
    margin-left: 700px;
    color: lightgray;
}